{% extends 'base.html' %}
{% block content %}
	<a href="{% url 'createUsers' %}">Novo Usuário</a>
	<div _ngcontent-jxv-c8="" class="col-md-12">
		<div _ngcontent-jxv-c8="" class="card">
			<div _ngcontent-jxv-c8="" class="card-header card-header-primary">
				<h4 _ngcontent-jxv-c8="" class="card-title"><b>Usuários</b></h4>
				<p _ngcontent-jxv-c8="" class="card-category"><b>Listas de usuários</b></p>
			</div>

			<div _ngcontent-jxv-c8="" class="card-body">
				<div _ngcontent-jxv-c8="" class="table-responsive">
					<table _ngcontent-jxv-c8="" class="table">
						<thead _ngcontent-jxv-c8="" class="text-primary">
							<th _ngcontent-jxv-c8="">ID</th>
							<th _ngcontent-jxv-c8="">Email</th>
							<th _ngcontent-jxv-c8="">Password</th>
							<th _ngcontent-jxv-c8="">Empresa</th>
							<th _ngcontent-jxv-c8="">Data de Criação</th>
							<th _ngcontent-jxv-c8="">Ações</th>
						</thead>
						<tbody _ngcontent-jxv-c8="">
							{% for user in users %}
								<tr _ngcontent-jxv-c8="">
									<td _ngcontent-jxv-c8="">{{user.pk}}</td>
									<td _ngcontent-jxv-c8="">{{user.email}}</td>
									<td _ngcontent-jxv-c8="">{{user.password}}</td>
									<td _ngcontent-jxv-c8="">{{user.company_name}}</td>
									<td _ngcontent-jxv-c8="" class="text-primary">{{user.created_at}}</td>
									<td>
										<a href="{% url 'showUsers' user.pk %}">Ver</a>
										<a href="{% url 'updateUsers' user.pk %}">Editar</a>
										<a href="{% url 'deleteUsers' user.pk %}">Apagar</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}